*{
    font-family: "lato", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.app{
    /* Serve para suavisar a font lato */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 40px;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
        "header header"
        "menu content"
        "footer footer"
}

.hide-menu{    
    grid-template-areas: 
        "header header"
        "content content"
        "footer footer"
}