.menu{
    grid-area: menu;
    background: linear-gradient(to right, #232526, #414345 );

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 100%;
}

.menu{
    color: #ffffff;
    /* padding: 20px; */
}

.MuiTreeItem-content{
    padding: 10px;
}

/* .menu > ul, li {
    margin-bottom: 15px;
} */

.MuiTreeView-root > a, .MuiTreeView-root > a:hover {
    text-decoration: none;
    color: #ffffff;
}

.MuiTreeItem-content {
    background-color: rgba(0, 0, 0, 0.0) !important;
}

.MuiTreeItem-root:focus{
    background-color: rgba(255, 255, 255, 0.2) !important;
}